html {
    min-height: 100%;
    position: relative;
  }

  body {
    margin: 0;
    margin-bottom: 7%;
  }
.banner {
    width: 100%;
    height: 50px;
    background-color: #062485;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

#tecImage {
    width: auto;
    height: 90%;

}

.Body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 22px;

}

#pieDePagina {
    background-color: #062485;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}